#contact-submit {
   padding-top: 3%;
}

.form-entry {
    width: 55%;
}

.form-submit {
    background-color: gray;
	border-color: gray;
	border: 0;
    padding: 1.5%;
	color: white;
}
input {
 
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;
}


.gallery-form-entry {
    width: 80%;
    margin: 2%;
    margin-left: 10%;
}

#upload-image {
    margin-left: 33%;
/*    margin-top: 3%;*/
        font-weight: bold;

    height: 20%;
    width: 34%;
    padding: 2%;
    text-align: center;
/*    font-size: 1em;*/
/*
    background-color: gray;
	border-color: gray;
	border: 0;
	color: white;
*/
}