.navBar {
    z-index: 5;
	margin: auto;
	height: 5%;
	width: 35%;
	margin-top: -1.6%;
	vertical-align: center;
}

.navBar ul {
	list-style-type: none;
}

.navBarElem {
    z-index: 1;
	display: inline-block;
	height: 100%;
	width: 20%;
	margin: 1%;
	padding: 1%;
	background-color: gray;
	border-radius: 5%;
	font-size: 1em;
	font-style: bold;
	color: white;
	text-align: center;
}

.navButtons {
	background-color: gray;
	border-color: gray;
	border: 0;
	color: white;
}