* {
	font-family: Helvetica;
}
.navBar {
	margin: auto;
	height: 5%;
	width: 35%;
	margin-top: -1.6%;
	vertical-align: center;
}

.navBar ul {
	list-style-type: none;
}

.navBarElem {
	display: inline-block;
	height: 100%;
	width: 20%;
	margin: 1%;
	padding: 1%;
	background-color: gray;
	border-radius: 5%;
	font-size: 1em;
	font-style: bold;
	color: white;
	text-align: center;
}

.navButtons {
	background-color: gray;
	border-color: gray;
	border: 0;
	color: white;
}

#home {
	display: block;
}

#about {
	display: none;
	text-align: center;
	font-family: monospace;
	font-size: large;
}

#contact {
	display: none;
	text-align: center;
	font-family: monospace;
	font-size: large;
}

#gallery {
	display: none;
}

.container {
	width: 40%;
	margin: auto;
	margin-top: 5%;
}

.mainImage {
	margin: auto;
	padding-bottom: 5%;
	vertical-align: center;
	width: 40%;
	border-radius: 100%;
	float: left;
}

.details {
	width: 60%;
	float: right;
	text-align: center;
}

.name {
	margin-top: 10%;
	font-size: 3em;
	text-align: center;
}

hr {
	margin-top: 5%;
	margin-bottom: 5%;
	width: 120%;
	margin-left: -10%;
	clear: both;
}

p {
	clear: both;
}

.description {
	margin: auto;
	text-align: center;
	font-size: 0.9em;
}

.thanku {
	margin-top: 5%;
	font-size: 1.5em;
}


.grid {
	width: 200%;
	margin-left: -58%;
}

.grid li {
    display: block;
    display: inline;
    width: 30%;
    margin: auto;
}

.grid img {
	max-width:33%;
	max-height:100%;
}
